{% block content %}
<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Reward Tracking Table</h2>

<table>
  <thead>
    <th>Employee ID</th>
    <th>Employee name</th>
    <th>Employee Phone</th>
    <th>Employee Password</th>
  </thead>
  {% for employee in employee %}
  <tbody>
  <tr>
    <td>{{employee[0]}}</td>
    <td>{{employee[1]}}</td>
    <td>{{employee[2]}}</td>
    <td>{{employee[4]}}</td>
  </tr>
  </tbody>
{% endfor %}
</table>

</body>
</html>
{% endblock %}