{% block content %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Reward Tracking Table</h2>

<table>
  <thead>
    <th>Employee ID</th>
    <th>Employee name</th>
    <th>Employee Phone</th>
    <th>Employee Password</th>
  </thead>
  {% for employee in employee %}
  <tbody>
  <tr>
    <td>{{employee[0]}}</td>
    <td>{{employee[1]}}</td>
    <td>{{employee[2]}}</td>
    <td>{{employee[4]}}</td>
  </tr>
  </tbody>
{% endfor %}
</table>

<br>

<form method="POST">
<button class="submit" align="center">I want now to be the end of the month (RESET) </button>
</form>

{% if reset %}
<div class="alert alert-success">
  <strong>Success!</strong> You have reset the system successfully. 
</div>
{% endif %}

</body>
</html>
{% endblock %}