{% block content %}
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Employee Info Sheet</h2>

<table>
  <thead>
    <th>Employee ID</th>
    <th>Employee name</th>
    <th>Employee Phone</th>
    <th>Employee Password</th>
  </thead>
  {% for employee in employee %}
  <tbody>
  <tr>
    <td>{{employee[0]}}</td>
    <td>{{employee[1]}}</td>
    <td>{{employee[2]}}</td>
    <td>{{employee[4]}}</td>
  </tr>
  </tbody>
{% endfor %}
</table>

<br>

<form method="POST">
<button class="submit" align="center">I want now to be the end of the month (RESET) </button>
</form>

{% if reset %}
<div class="alert alert-success">
  <strong>Success!</strong> You have reset the system successfully. 
</div>
{% endif %}

<hr>
<h2>All redemptions for the previous two months</h2>
<table>
  <thead>
    <th>Year</th>
    <th>Month</th>
    <th>Employee ID</th>
    <th>Number of points redeedmed</th>
    <th>Number of giftcard received</th>
  </thead>
  {% for result in result %}
  <tbody>
  <tr>
    <td>{{result[0]}}</td>
    <td>{{result[1]}}</td>
    <td>{{result[2]}}</td>
    <td>{{result[3]}}</td>
    <td>{{result[4]}}</td>
  </tr>
  </tbody>
{% endfor %}
</table>
<hr>
<h2>Employee who didn't giving out all of their points for the current recent month </h2>
{% for usernotgiveall in usernotgiveall %}
<p>{{usernotgiveall[1]}} only used {{usernotgiveall[3]}} points</p>
{% endfor %}

<hr>
<h2>Monthly aggregate usage of points </h2>
{% for usage in usage %}
<p>{{usage[1]}} received {{usage[2]}} points in {{usage[0]}}</p>
{% endfor %}

</body>
</html>
{% endblock %}