<html>
  <style>
    body {
        background-color: rgb(215, 252, 250);
    }
  </style>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Homepage</title>
</head>

<body>
  <center>
  <div class="main">
    <p class="sign" align="center"><font size="6">Welcome to McCombs MSITM Rewarding system Admin Portal</font></p>
    <form method="POST" class="form1">
      <input id="admin" name="admin" type="text" align="center" placeholder="Username" style="height:35px; width:150px;" required>
      <input name="password" type="password" align="center" placeholder="Password" style="height:35px; width:150px;"required>
      <p></p>
      <button class="submit" align="center">Sign in</button></form>
      <p></p>
      {% for message in get_flashed_messages() %}
      <br><div class="flash">{{ message }}</div>
      {% endfor %}
    </div></center>
</body>
</html>