{% block content %}
<!DOCTYPE html>
<html>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

body {
      background-color: rgb(215, 252, 250);
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.navbar-default {
        background-color:  rgb(215, 252, 250);
        border-color: #000000;
    }
</style>


</head>
<center>
<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/table/"><font color="Black">Employee Home</font></a>
          </div>
          <form method="POST">
          <ul class="nav navbar-nav">
            <li><a a href="/logout"><font color="Black">Logout</font></a></li></form>
          </ul>
        </div>
      </nav>

<h2>Welcome, {{showname}}</h2>
<h4>You current have {{result[2]}} points to redeem</h4>
<h4>You current have {{result[3]}} points this month to give</h4>
{% if result[4]>0 %}
<h4>You gave {{result[4]}} points this month </h4>
{% else %}
<h4>You haven't give any points in this month </h4>
{% endif %}
{% if result[5]>0 %}
<h4>You received {{result[5]}} points this month </h4>
{% else %}
<h4>You haven't receive any points in this month </h4>
{% endif %}

<form method="POST">
<input type="submit" name = "submit" value = "Give Points">
<input type="submit" name = "submit" value = "Redeem Points">
</form>

<H2>Complete History of Points Received</H2>
<table>
  <thead>
    <th>Time</th>
    <th>Received from</th>
    <th>Points</th>
    <th>Message</th>
  </thead>
  {% for r in receive %}
  <tbody>
  <tr>
    <td>{{r[0]}}</td>
    <td>{{r[1]}}</td>
    <td>{{r[2]}}</td>
    <td>{{r[3]}}</td>
  </tr>
  </tbody>
{% endfor %}
</table>

<H2>Complete History of Points Given</H2>
<table>
  <thead>
    <th>Time</th>
    <th>Sent to</th>
    <th>Points</th>
    <th>Message</th>
  </thead>
  {% for s in send %}
  <tbody>
  <tr>
    <td>{{s[0]}}</td>
    <td>{{s[1]}}</td>
    <td>{{s[2]}}</td>
    <td>{{s[3]}}</td>
  </tr>
  </tbody>
{% endfor %}
</table>

</body>
</center>
</html>
{% endblock %}