{% block content %} 
<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<html>
<style>
    body {
        background-color: rgb(215, 252, 250);
        }
    .navbar-default {
        background-color:  rgb(215, 252, 250);
        border-color: #000000;
    }
</style>
<body>
<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="/table/"><font color="Black">Employee Home</font></a>
            </div>
            <form method="POST">
            <ul class="nav navbar-nav">
            <li><a a href="/logout"><font color="Black">Logout</font></a></li></form>
            </ul>
        </div>
</nav>

<p>
<form method="POST" class="form1">
    <select id="Employee" name="Employee" required>
    <option value="" selected disabled hidden>Choose Employee here</option>
    {% for i in e%}
        <option value="{{i[0]}}">{{i[0]}}</option>
    {% endfor %}
    </select>

<p>Amount of points you want to send: <input type="text" id="numofpoint" name="numofpoint" required></p>
<p>Message: <input type="text" id="message" name="message" required></p>
<button type="submit">Submit</button></form>
<br>
{% if invalid %}
<div class="alert alert-danger">
        <strong>Warning!</strong> You don't have enough points to send. You only have {{s[0]}} points that can be sent.
</div>
{% elif invalid == False %}
<div class="alert alert-success">
    <strong>Success!</strong> You have successfully sent {{p}} points to {{name}}.
  </div>
{% endif %}

<br>


<script>  
    function convert() {  
        var points = document.getElementById("numofpoints").value 
        document.getElementById("numofcards").value = points/100
    }  
</script> 
</body>
</html>
{% endblock %}