<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Homepage</title>
</head>

<body>
  <div class="main">
    <p class="sign" align="center">Welcome to McCombs MSITM Rewarding system</p>
    <center><form method="POST" class="form1">
      <input id="username" name="username" type="text" align="center" placeholder="Username" required>
      <input name="password" type="password" align="center" placeholder="Password" required>
      <button class="submit" align="center">Sign in</button>
      </br>
      <a class="submit" align="center" href="/ad/">Admin Log in</a></form>
      {% for message in get_flashed_messages() %}
      <br><div class="flash">{{ message }}</div>
      {% endfor %}
    </div></center>
</body>
</html>