<!DOCTYPE html>
<html>
<body>

<p>
<p>Amount of points you want to redeedm: <input type="text" id="numofpoints"></p>
<button type="submit" onclick="convert()"">Check # of cards can be redeemed</button>
<p>The number of gift card is: <input type="text" id="numofcards"></p>
</p>
<script>  
    function convert() {  
        var points = document.getElementById("numofpoints").value 
        document.getElementById("numofcards").value = points/100
    }  
</script> 
<button type="submit">Submit</button>
</body>
</html>