{% block content %} 
<!DOCTYPE html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<html>
<style>
    body{
        background-color: rgb(215, 252, 250);
        }
    .navbar-default {
        background-color:  rgb(215, 252, 250);
        border-color: #000000;
    }

</style>
<body>
<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand" href="/table/"><font color="Black">Employee Home</font></a>
            </div>
            <form method="POST">
            <ul class="nav navbar-nav">
            <li><a a href="/logout"><font color="Black">Logout</font></a></li></form>
            </ul>
        </div>
</nav>

<center>
<p>
<form method="POST" class="form1">
<p>Number of points you want to redeedm: <input type="text" id="numofpoints" name="numofpoints"></p>
<button type="submit" name="btn" value="submit">Submit</button></form>
<br>


{% if invalid == 1 %}
<div class="alert alert-danger">
        <strong>Warning!</strong> Number you give is wrong. You need to enter at least 10000 points to redeem.
</div>
{% elif invalid == 2%}
<div class="alert alert-danger">
        <strong>Warning!</strong> You don't have enough points to redeem. You only have {{point_current[0]}} points that can be cashed in.
</div>
{% elif invalid ==3 %}
<div class="alert alert-success">
    <strong>Success!</strong> You have successfully redeemed {{cards}} cards({{cards*10000}} points).
  </div>
{% endif %}

<br>
<button onclick="convert()" name="btn" value="convert">Check # of cards can be redeemed</button>
<p></p>
<p>The number of $100 gift card is: <input type="text" id="numofcards" name = "numofcards"></p>
</p>
<br>
</center>


<script>  
    function convert() {  
        var points = document.getElementById("numofpoints").value 
        // document.getElementById("numofcards").value = points/100
        document.getElementById("numofcards").value = Math.floor(points/10000)
    }  
</script> 
</body>
</html>
{% endblock %}